@keyframes slide-from-left {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes loading {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}

@keyframes bounce {
	from {
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
	}
}