:root {
	--primary: #fff;
	--secondary: #fff;
	--font-color: #fff;
	--headline: #fff;
	--btn-text: #fff;
	--main: #fff;
	--tertiary: #fff;
	--stroke: #fff;
	--primary-opposite: #fff;
	--primary-light: #fff;
	--img-primary: url(/img/ss3.jpeg);
	--form-color: #fff;
}

.body.dark_mode {
	--primary: #fff;
	--secondary: #fff;
	--font-color: #fff;
	--headline: #fff;
	--btn-text: #fff;
	--main: #fff;
	--tertiary: #fff;
	--stoke: #fff;
	--primary-opposite: #fff;
	--primary-light: #fff;
	--img-primary: url(/img/ss1.jpeg);
	--form-color: #fff;
}