// theme colors
$primary: #004643 !default;
$secondary: #f9bc60 !default;
$font-color: #abd1c6;
$headline: #fffffe;
$btn-text: #001e1d;
$main: #e8e4e6;
$tertiary: #e16162;
$stroke: #001e1d;
$primary-opposite: #232946;
$primary-light: #045854;
$img-primary: url(/img/ss3.jpeg);
$form-color: #abd1c6;

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;

//........font-sizes........
$font-md: 1.125rem; //18px
$font-sm: 0.875rem; //14px
$font-lg: 2.5rem; //40px